* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/sunny.jpg');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.app-main {
    width: 50vh;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
}

.app-main>* {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.569);
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 30px;
    text-align: center;
}

.input-box:focus {
    background-color: rgba(0, 0, 0, 0.834);
}

.weather-body {

    color: #ffffff;
    padding: 30px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    height: 45vh;
}

.location-details {
    font-weight: bold;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 50pt;
    font-weight: 500;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.79);
}

.min-max,
.weather {
    font-size: 12pt;
    font-weight: 600;
}